.business_name{
	width: 100%;
	}
#wrapper{
background-color: yellow;
height: 60px;                       
margin: 5%;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	#wrapper{
	         background-color: red;
	     }
} 

@media screen and (min-width: 768px) and (max-width: 1023px){
	#wrapper{
	         background-color: aqua;
	     }

 @media screen and (min-width: 1024px)and (max-width: 1224px){
	#wrapper{
	          background-color: purple;
	     }
	.SocialLinks img{
	    width: 15%;
		}
}

@media screen and (min-width: 768px){
	body{
		background-color: green;
		}
	.business_name{
        width: 45%;

		}
		.SocialLinks{
            float: right;  
            width: 35%;
		}
		.SocialLinks img{
            width: 25%;
            margin-right: 5%;  
}

	}
