body{
        background-color: lightgray;
        text-align: center;
}
nav{
        background-color: black;
        width: 96%;
        padding: 10px 2%; 
}
nav table{
        width: 96%;
}
a{
        text-decoration: none;
}
a:link{
        color: white;
}
a:visited{
        color: yellow;
}
header{
        width: 90%;
        margin: 10px auto;
}
section{
        width: 90%;
        margin: 10px auto;
        text-align: left;

}
section img{
	float:right;
	width: 20%;
    
}
footer{
        background-color: black;
        color: white;
        width: 96%;
        padding: 10px 2%; 
        overflow: auto;
}
footer table{
        width: 96%;

}
.business_name{
            width: 100%;
            padding: 5px;
            border: 3px solid white;
            border-radius: 20px;
            box-shadow: 10px 10px gray;
            background-color: skyblue;
}
.SocialLinks{
	float: right;
	width: 25%;
}
.SocialLinks img{
            width: 20%;
            margin-right: 5%;
}
.SocialLinks img{
            width: 20%;
            margin-right: 5%;
}
.location{
	color:red;

}
ul{
	text-align: left;
}
#schedule_table td{
	border: 2px solid black;
	color: green;
	background-color: yellow;
}
#map{
	float: center;
	margin-height:0; 
	margin-width:0;
	width : 100px; 
	height : 100px;
}
