.navbar-inverse{
background: rgba(183,175,233,1);
background: -moz-linear-gradient(left, rgba(183,175,233,1) 0%, rgba(172,156,221,1) 50%, rgba(158,145,217,1) 51%, rgba(143,139,218,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(183,175,233,1)), color-stop(50%, rgba(172,156,221,1)), color-stop(51%, rgba(158,145,217,1)), color-stop(100%, rgba(143,139,218,1)));
background: -webkit-linear-gradient(left, rgba(183,175,233,1) 0%, rgba(172,156,221,1) 50%, rgba(158,145,217,1) 51%, rgba(143,139,218,1) 100%);
background: -o-linear-gradient(left, rgba(183,175,233,1) 0%, rgba(172,156,221,1) 50%, rgba(158,145,217,1) 51%, rgba(143,139,218,1) 100%);
background: -ms-linear-gradient(left, rgba(183,175,233,1) 0%, rgba(172,156,221,1) 50%, rgba(158,145,217,1) 51%, rgba(143,139,218,1) 100%);
background: linear-gradient(to right, rgba(183,175,233,1) 0%, rgba(172,156,221,1) 50%, rgba(158,145,217,1) 51%, rgba(143,139,218,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7afe9', endColorstr='#8f8bda', GradientType=1 );
}

.navbar-inverse .navbar-nav > .active > a{
background: rgba(183,175,233,1);
background: -moz-linear-gradient(left, rgba(183,175,233,1) 0%, rgba(172,156,221,1) 50%, rgba(158,145,217,1) 51%, rgba(143,139,218,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(183,175,233,1)), color-stop(50%, rgba(172,156,221,1)), color-stop(51%, rgba(158,145,217,1)), color-stop(100%, rgba(143,139,218,1)));
background: -webkit-linear-gradient(left, rgba(183,175,233,1) 0%, rgba(172,156,221,1) 50%, rgba(158,145,217,1) 51%, rgba(143,139,218,1) 100%);
background: -o-linear-gradient(left, rgba(183,175,233,1) 0%, rgba(172,156,221,1) 50%, rgba(158,145,217,1) 51%, rgba(143,139,218,1) 100%);
background: -ms-linear-gradient(left, rgba(183,175,233,1) 0%, rgba(172,156,221,1) 50%, rgba(158,145,217,1) 51%, rgba(143,139,218,1) 100%);
background: linear-gradient(to right, rgba(183,175,233,1) 0%, rgba(172,156,221,1) 50%, rgba(158,145,217,1) 51%, rgba(143,139,218,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7afe9', endColorstr='#8f8bda', GradientType=1 );

}

body{
	background-color: #ff9999;
}
.row_margin{
	margin: 3% 0;
}

.img-rounded{
	border-radius: 10%;
}

address{
	margin-left: 5%;
	margin-top: 1%;
}