nav{
	height: 55px;
	background-color: #E3CAA1;/*tan*/
}

nav ul{
	text-align: left;
	display: inline;
	padding: 15px 4px;
	list-style: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
}

nav ul li{
	display: inline-block;
	margin-right: -4px;
	position: relative;;
	padding: 15px 20px;
	background: #fff;
	transition: all 0.2s;
}

nav li a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}

nav ul li:hover{
	background:gray;
	color: white;
}

nav ul li a:hover{
	color: white;
}
nav ul li ul{
	padding: 0;
	position: absolute;
	top: 48px;
	left: 0;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
	transition:opacity 0.2s;
}

nav ul li ul li{
	background: gray;
	display: block;
	color: black;
}

nav ul li ul li:hover{
	background: #666;
}

nav ul li:hover ul{
	display: block;
	opacity: 1;
	visibility: visible;
}