	.start_box{    
			border-style: solid;
			border-width: 2px;
			padding: 20px;
	}
	header{
			background-color: aqua;  
	}
	nav{
			background-color: wheat;
	}

	aside{
		
		float:left;
		width:272px;
		background-color: yellow;
	}
	section{
		float: left;
		width:600px;
		background-color:lime;
	}
	footer{
		clear:left;
		background-color: fuchsia;
	}
	img{
		  float: left;   
		  margin-right: 20px;  
	}
	h1{
			display: inline-block;
			margin-left: 10px;
	}

	#wrapper{
			background-color: lime;
			width: 960px;  
			margin: 0 auto;
	}
	
li{
	display: inline-block;
	margin: 0px 20px
}